html,
body,
main {
    height: 100%;
}
.profile-container {
    /* padding: 2em; */
    margin-top: 3rem;
    height: 80%;
    align-items: center;
    /* border: 1px solid black; */
}
.info-container {
    width: 60%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.info-container div {
    margin-bottom: 3em;
    width: 100%;
    flex-direction: column;
}

.info-container .main-info-container {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.info-container .main-info-container div {
    margin-bottom: 6em;
    width: 40%;
}

h3 {
    border-bottom: 2px solid black;
}

#user-img-container img {
    margin-bottom: 5em;
    border-radius: 100%;
    width: 25%;
}

#img-container {
    text-align: center;
    width: 60%;
}

#img-container img {
    width: 75%;
}
