.appoint-container p {
    font-weight: bold;
    padding: 0.4em;
}

.appoint-container {
    /* border: 1px solid black; */
    height: 100%;
    /* height: 70vh; */
    /* overflow-x: hidden; */
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
}

.appointment-item-container {
    padding: 1em;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 4em;
    /* border: 1px solid black; */
}

.appointment-info-container {
    flex-direction: column;
}

#img-div {
    width: 55%;
}

#img-div img {
    position: absolute;
    bottom: 0;
    width: 35%;
}

.big-appoint-container {
    height: 70%;
    margin-top: 5rem;
}

/* #image-container img {
                position: absolute;
            } */
#overflow-div {
    /* background-color: blue; */
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1; /* added */
}

.accept-btn {
    margin-top: 1em;
    border: 2px solid #55b947;
    margin-right: 1em;
    background-color: #55b947;
}

.accept-btn:hover {
    box-shadow: 1px 1px 7px 4px #3e9b32;
    background-color: #3e9b32;
    border: 2px solid #3e9b32;
}

.delete-btn {
    background-color: #f90000;
    border: 2px solid #f90000;
}

.delete-btn:hover {
    box-shadow: 1px 1px 7px 4px #c50303;
    background-color: #c50303;
    border: 2px solid #c50303;
}
